body {
    background-color: rgb(215, 99, 61);
    margin: 0px;
}

#main {
    background-color: pink;
    padding: 0px;
    margin: 0px;
    opacity: 0.9;
}

.firstbox {
    opacity: 0.9;
    background-color: rgb(88, 58, 107);
    width: 100%;
    height: 20px;
    border: solid;
    border-width: 0px 0px 0px 0px;
    overflow-wrap: normal;
}

.pro {
    margin-bottom: 0px;
    font-family: 'Sofia Sans', sans-serif;
}

h1 {
    display: inline;
    background-color: rgb(219, 244, 35);
    font-size: 150%;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;

}

.hell-o {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.vis {
    font-family: 'Amaranth', sans-serif;
    margin: 0px;
}

.secondtonone {
    opacity: 0.8;
    background-color: rgb(152, 142, 142);
    text-align: center;
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sampling {
    background-color: rgb(106, 167, 242);
    width: 50px;
    height: 100px;
    padding: 50px;
    border: outset 33px;
    position: absolute;
    opacity: 0.7;
}

.down {
    background-color: rgb(155, 15, 141);
    width: 50px;
    height: 100px;
    padding: 50px;
    border: ridge 33px;
    position: absolute;
    top: 0;
    left: 216px;
    opacity: 0.7;
}

.downbad {
    background-color: rgb(238, 165, 101);
    width: 50px;
    height: 100px;
    border: outset 33px;
    padding: 50px;
    position: absolute;
    top: 0;
    left: 432px;
    opacity: 0.7;
}

.underline {
    text-decoration: underline;
}

h3 {
    font-family: 'Hind', sans-serif;
    position: sticky;
    display: inline-block;
    bottom: 527px;
    left: 900px;
    background-color: rgb(47, 47, 47);
}

.habits {
    font-family: 'Lato', sans-serif;
    margin: 0;
    display: inline-block;
}

.container {
    width: 100%;
    position: relative;
    left: 0;
    top: 1px;
}

.target {
    position: relative;
    left: 80px;
    top: 20px;
    width: 50%;

}

hr {
    border: 1px solid rgb(69, 36, 36);
}

.pattern {
    background-color: #05058898;
    opacity: 0.4;
    background-image: linear-gradient(#8f91b0 1px, transparent 1px), linear-gradient(to right, #8f91b0 1px, #0c0ca5 1px);
    background-size: 20px 20px;
}

.goals {
    position: relative;
    left: 3px;
    bottom: 7px;
    font-size: x-large;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(238, 217, 27);
    margin: 0;
}

.btn {
    position: relative;
    left: 5px;
    top: 4px;
    background-color: linen;
    border-radius: 5%;
    padding: 5px 12px;
    border: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn:hover {
    background: #9c193e
}